services:

  chromadb:
    image: chromadb/chroma:latest
    container_name: sun_tey_chromadb
    restart: unless-stopped
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    networks:
      - gpu0_net

volumes:
  chroma_data:

networks:
  gpu0_net:
    driver: bridge
